<section class="taxonomy-paper">
  <h1><%= flatpaper_i18n('common.categories') %></h1>
  <%
  var categories = site.categories ? site.categories.toArray() : [];
  %>
  <% if (categories.length) { %>
    <div class="taxonomy-grid">
      <% categories.forEach(function(category, index) { %>
        <a class="taxonomy-card" href="<%- url_for(category.path) %>">
          <span class="dot dot-<%= index % 4 %>"></span>
          <strong><%= category.name %></strong>
          <em><%= flatpaper_i18n('taxonomy.category_count', category.length) %></em>
        </a>
      <% }) %>
    </div>
  <% } else { %>
    <p class="empty-state"><%= flatpaper_i18n('taxonomy.empty_categories') %></p>
  <% } %>
</section>
